*
{
    font-family: Arial;
}
.outerContainer
{
    width:60%;
    height:99%;
    margin:0;
    padding:0;
    background-color: white;
}
.container
{
    height:10%;
}
.type-area
{
    width:90%;
    height:90%;
    overflow: hidden;
    border:0.1vw solid black;
    border-radius:2vw;
    margin:0;
    padding:0;
}
.chat-area
{
    margin:0;
    height:90%;
    width:100%;
    background-color: white;
    overflow-y:scroll;
}
.type-area>input
{
    width:80%;
    height:100%;
    font-size:1.5vw;
    padding-left: 1.5vw;
    border-width: 0;
}
.type-area>input:focus
{
    outline:none;
}
.type-area>button
{
    margin:0;
    width:20%;
    height:100%;
    font-size:1.5vw;
    border-radius: 0;
    border-width:0;
    border-color: transparent;
    background-color: white;
    color:blue;
}
.type-area>button:hover
{
    cursor: pointer;
    outline: none;
}
.messages-list
{
    width:100%;
}
.my-message-item
{
    width:60%;
    height:auto;
    float:right;
    margin:1vw 0;
    display: flex;
    justify-content: right;
}
.my-message
{
    background-color: rgb(77, 77, 77);
    color:white;
    padding:0vw 2vw;
    border-radius: 1vw 1vw 0 1vw;
}
.my-message>p
{
    width:100%;
    text-align: right;
    margin:0.75vw 0;
    word-break: break-word;
}
.received-message-item
{
    width:60%;
    height:auto;
    margin:1vw 0;
    float:left;
    display: flex;
    justify-content: left;
}
.received-message
{
    background-color: rgb(0, 0, 224);
    color:white;
    padding:0vw 2vw;
    border-radius: 1vw 1vw 1vw 0;
}
.received-message>p
{
    width:100%;
    text-align: left;
    margin:0.75vw 0;
    word-break: break-word;
}   
@media screen and (max-width:481px)
{
    *
    {
        font-size:4.5vw;
    }
    .outerContainer
    {
        width:100%;
        height:100%;
        padding: 0;
        background-color: white;
    }
    .chat-area
    {
        height:90%;
        position: fixed;
        bottom:15vw;
        margin-top: 1vw;
    }
    .type-area
    {
        position: fixed;
        z-index: 10;
        bottom:1vw;
        height:12vw;
        border-radius: 6vw;
    }
    .type-area>input
    {
        padding-left:6vw;
        font-size:4.5vw;
    }
    .type-area>button
    {
        font-size: 4vw;
    }
    .received-message-item,.my-message-item
    {
        width:70%;
        margin-top:4vw;
    }
    .received-message
    {
        border-radius: 5vw 5vw 5vw 0;
        padding:2vw 6vw;
    }
    .my-message
    {
        border-radius: 5vw 5vw 0 5vw;
        padding:2vw 6vw;
    }
}
